﻿<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">

        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search Books" ng-model="searchBook">
                </div>
            </div>
        </form>


        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Stock Count</th>
                    <th>Count</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="book in books | filter: searchBook">
                    <td>
                        {{ book.id }}
                    </td>
                    <td>
                        {{ book.name }}
                    </td>
                    <td>
                        {{ book.description }}
                    </td>
                    <td>
                        <div data-ng-repeat="count in book.bookStock">
                            <p>{{count.bookCount}}</p>
                        </div>
                    </td>
                    <td>
                        <input type="number" min=1 ng-model="purchaseCount" />
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click='go(book, purchaseCount)'>Buy</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
